@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02_A");

    string artistName = "";
    string artistID = "";

    var artistArg = Request.Form["artistArg"];
    var theButton = Request.Form["theButton"];
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    if (theButton.Equals("reset"))
    {
        artistArg = "";
        artistID = "";
    }
    else
    {
        var db = Database.Open("CHINOOK");

        string sqlcommand1 = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0 ORDER BY Name";
        var partialstring = "%" + artistArg + "%";
        var results = db.Query(sqlcommand1, partialstring);

        if (results.Count() == 0)
        {
            <p style="color:firebrick">There was no record returned from the Data Base</p>
            artistArg = "";
            artistID = "";
        }
        else
        {
            Response.Redirect("Exercise02_B.cshtml?cid=" + artistArg);
        }
    }
}
else
{
    <p style="color:darkblue">The Data Base has NOT been queried</p>
    artistArg = "";
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-3">
            <div class="offset-1">
                <label id="lblartistArg" for="artistArg">Enter a partial artist name:</label>&nbsp;&nbsp;
                <input type="text" id="artistArg" name="artistArg"
                       value="@artistArg" placeholder="partial artist name" />
                <br /><br />
                <button type="submit" id="theButton" name="theButton"
                        value="submit" class="btn btn-primary">
                    Fetch
                </button>&nbsp;&nbsp;
                <button type="submit" id="theButton" name="theButton"
                        value="reset" class="btn btn-light">
                    Reset
                </button>
            </div>
        </div>
    </div>
</form>